body {
    overflow: hidden;
}

.main {
    border-style: solid;
    border-color: black;
    background-color:rgba(0,0,0,0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.world {
    border-style: solid;
    border-color: black;
    background-color:rgba(0,0,0,0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

